.input {
  color: black;
  /* background-color: gray; */
  display: block;
}

.small {
  border: black solid 3px;
  font-size: 20px;
}

.medium {
  border: black solid 6px;
  font-size: 30px;
}

.large {
  border: black solid 8px;
  font-size: 40px;
}
